!!!5
html
    head
        title #{title} - My Site
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript', src="/socket.io/socket.io.js")
        script(type='text/javascript', src='http://mbostock.github.com/d3/d3.js')
        script(type='text/javascript', src='http://mbostock.github.com/d3/d3.layout.js')
        script(type='text/javascript', src='javascript/d3-tree.js')
    body
        header
            h1 My Site
        .container
            .main-content
                block content
            .sidebar
                block sidebar
        script
            var socket = io.connect('http://localhost')
            socket.on('news', function(data) {
                console.log(data)
            })
        footer
            p Running on node with Express, Jade and Stylus
