*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# General and C++
.*
!.gitignore
*~
res
*.o
*.pyc
deprecated
dist
QSData

# R
# History files
.Rhistory
Rplots.pdf

# Example code in package build process
*-Ex.R

# Logs
quantrade.log
