beautifulsoup4==4.3.2
ystockquote
blist==1.3.4
schematics==0.9-4
schema==0.2.0
Cython==0.20.1
numpy==1.8.0
python-dateutil==2.2
pytz==2013.9
Quandl==1.8.1
requests==2.2.1
six==1.5.2
dna
-e git+https://github.com/pydata/pandas.git@master#egg=pandas-0.13.0-27-gf7aeaeb
-e git+https://github.com/quantopian/zipline.git@master#egg=zipline-0.5.11.dev
