beautifulsoup4
Delorean
distribute
ipdb
ipython
Logbook
msgpack-python
MySQL-python
nose
numpy
pandas
plac
python-dateutil
pytz
pyzmq
patsy
requests
rpy2
six
SQLAlchemy
scipy
statsmodels
jinja2
quandl
